<div class="site-contents">
    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p>
            To learn more about ASP.NET MVC visit
            <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
            The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
            If you have any questions about ASP.NET MVC visit
            <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
        </p>
    </div>
    <p>
        <b>Creation Date:</b> TBA
    </p>
    <p>
        <b>Authored By:</b> Takaji Messer
    </p>
    <p>
        <b>Contact:</b> TBA
    </p>
    <h4>Change Log</h4>
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Author</th>
        </tr>
    </table>
</div>
