@model BROWSit.Models.User

@using (Html.BeginForm("Login", "Home"))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-signin">
            <div class="row">
                <div class="col-md-12 center-block">
                    <h2 class="form-signin-heading">Please sign in</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center-block">
                    <input type="text" id="Username" name="Username" class="form-control" placeholder="Username" required="" autofocus="">
                    <input type="text" id="Hash" name="Hash" class="form-control" placeholder="Password" required="" autofocus="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 center-block">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center-block">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </div>
        </div>
    </div>
}

