<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 id="database" class="page-header">
                    <a class="anchorjs-link " href="#database" aria-label="Anchor link for: database" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
                    Database
                </h1>
                <p class="lead">Blah blah blah.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Bootstrap</h3>
                            <p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
                            <p>
                                <a href="https://github.com/twbs/bootstrap/releases/download/v3.3.5/bootstrap-3.3.5-dist.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download compiled');">Download Bootstrap</a>
                            </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Source code</h3>
                        <p>Source Less, JavaScript, and font files, along with our docs. <strong>Requires a Less compiler and <a href="#grunt">some setup.</a></strong></p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap/archive/v3.3.5.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download source');">Download source</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Sass</h3>
                        <p><a href="https://github.com/twbs/bootstrap-sass">Bootstrap ported from Less to Sass</a> for easy inclusion in Rails, Compass, or Sass-only projects.</p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap-sass/archive/v3.3.5.tar.gz" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download Sass');">Download Sass</a>
                        </p>
                    </div>
                </div>

                    <h2><a class="anchorjs-link " href="#download-cdn" aria-label="Anchor link for: download cdn" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Bootstrap CDN</h2>
                    <p>The folks over at <a href="https://www.maxcdn.com/">MaxCDN</a> graciously provide CDN support for Bootstrap's CSS and JavaScript. Just use these <a href="https://www.bootstrapcdn.com/">Bootstrap CDN</a> links.</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Latest compiled and minified CSS --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Optional theme --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Latest compiled and minified JavaScript --&gt;</span>
                        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span></code></pre></div>

                        <h2><a class="anchorjs-link " href="#download-bower" aria-label="Anchor link for: download bower" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Install with Bower</h2>
                        <p>You can also install and manage Bootstrap's Less, CSS, JavaScript, and fonts using <a href="http://bower.io">Bower</a>:</p>
                        <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>bower install bootstrap</code></pre></div>
            </div>

            <div class="bs-docs-section">
                <h1 id="workflow" class="page-header">
                    <a class="anchorjs-link " href="#workflow" aria-label="Anchor link for: workflow" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
                    Workflow
                </h1>
                <p class="lead">Blah blah blah.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Bootstrap</h3>
                            <p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
                            <p>
                                <a href="https://github.com/twbs/bootstrap/releases/download/v3.3.5/bootstrap-3.3.5-dist.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download compiled');">Download Bootstrap</a>
                            </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Source code</h3>
                        <p>Source Less, JavaScript, and font files, along with our docs. <strong>Requires a Less compiler and <a href="#grunt">some setup.</a></strong></p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap/archive/v3.3.5.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download source');">Download source</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Sass</h3>
                        <p><a href="https://github.com/twbs/bootstrap-sass">Bootstrap ported from Less to Sass</a> for easy inclusion in Rails, Compass, or Sass-only projects.</p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap-sass/archive/v3.3.5.tar.gz" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download Sass');">Download Sass</a>
                        </p>
                    </div>
                </div>

                    <h2><a class="anchorjs-link " href="#download-cdn" aria-label="Anchor link for: download cdn" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Bootstrap CDN</h2>
                    <p>The folks over at <a href="https://www.maxcdn.com/">MaxCDN</a> graciously provide CDN support for Bootstrap's CSS and JavaScript. Just use these <a href="https://www.bootstrapcdn.com/">Bootstrap CDN</a> links.</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Latest compiled and minified CSS --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Optional theme --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Latest compiled and minified JavaScript --&gt;</span>
                        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span></code></pre></div>

                        <h2><a class="anchorjs-link " href="#download-bower" aria-label="Anchor link for: download bower" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Install with Bower</h2>
                        <p>You can also install and manage Bootstrap's Less, CSS, JavaScript, and fonts using <a href="http://bower.io">Bower</a>:</p>
                        <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>bower install bootstrap</code></pre></div>
            </div>

            <div class="bs-docs-section">
                <h1 id="code" class="page-header">
                    <a class="anchorjs-link " href="#code" aria-label="Anchor link for: code" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
                    Code
                </h1>
                <p class="lead">Blah blah blah.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Bootstrap</h3>
                            <p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
                            <p>
                                <a href="https://github.com/twbs/bootstrap/releases/download/v3.3.5/bootstrap-3.3.5-dist.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download compiled');">Download Bootstrap</a>
                            </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Source code</h3>
                        <p>Source Less, JavaScript, and font files, along with our docs. <strong>Requires a Less compiler and <a href="#grunt">some setup.</a></strong></p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap/archive/v3.3.5.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download source');">Download source</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Sass</h3>
                        <p><a href="https://github.com/twbs/bootstrap-sass">Bootstrap ported from Less to Sass</a> for easy inclusion in Rails, Compass, or Sass-only projects.</p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap-sass/archive/v3.3.5.tar.gz" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download Sass');">Download Sass</a>
                        </p>
                    </div>
                </div>

                    <h2><a class="anchorjs-link " href="#download-cdn" aria-label="Anchor link for: download cdn" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Bootstrap CDN</h2>
                    <p>The folks over at <a href="https://www.maxcdn.com/">MaxCDN</a> graciously provide CDN support for Bootstrap's CSS and JavaScript. Just use these <a href="https://www.bootstrapcdn.com/">Bootstrap CDN</a> links.</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Latest compiled and minified CSS --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Optional theme --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Latest compiled and minified JavaScript --&gt;</span>
                        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span></code></pre></div>

                        <h2><a class="anchorjs-link " href="#download-bower" aria-label="Anchor link for: download bower" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Install with Bower</h2>
                        <p>You can also install and manage Bootstrap's Less, CSS, JavaScript, and fonts using <a href="http://bower.io">Bower</a>:</p>
                        <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>bower install bootstrap</code></pre></div>
            </div>

            <div class="bs-docs-section">
                <h1 id="download" class="page-header">
                    <a class="anchorjs-link " href="#download" aria-label="Anchor link for: database" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
                    download
                </h1>
                <p class="lead">Bootstrap (currently v3.3.5) has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>
                <div class="row bs-downloads">
                    <div class="col-sm-4">
                        <h3 id="download-bootstrap">Bootstrap</h3>
                            <p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
                            <p>
                                <a href="https://github.com/twbs/bootstrap/releases/download/v3.3.5/bootstrap-3.3.5-dist.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download compiled');">Download Bootstrap</a>
                            </p>
                    </div>
                    <div class="col-sm-4">
                        <h3 id="download-source">Source code</h3>
                        <p>Source Less, JavaScript, and font files, along with our docs. <strong>Requires a Less compiler and <a href="#grunt">some setup.</a></strong></p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap/archive/v3.3.5.zip" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download source');">Download source</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3 id="download-sass">Sass</h3>
                        <p><a href="https://github.com/twbs/bootstrap-sass">Bootstrap ported from Less to Sass</a> for easy inclusion in Rails, Compass, or Sass-only projects.</p>
                        <p>
                            <a href="https://github.com/twbs/bootstrap-sass/archive/v3.3.5.tar.gz" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download Sass');">Download Sass</a>
                        </p>
                    </div>
                </div>

                    <h2 id="download-cdn"><a class="anchorjs-link " href="#download-cdn" aria-label="Anchor link for: download cdn" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Bootstrap CDN</h2>
                    <p>The folks over at <a href="https://www.maxcdn.com/">MaxCDN</a> graciously provide CDN support for Bootstrap's CSS and JavaScript. Just use these <a href="https://www.bootstrapcdn.com/">Bootstrap CDN</a> links.</p>
                    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- Latest compiled and minified CSS --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Optional theme --&gt;</span>
                        <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"</span><span class="nt">&gt;</span>

                        <span class="c">&lt;!-- Latest compiled and minified JavaScript --&gt;</span>
                        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span></code></pre></div>

                        <h2 id="download-bower"><a class="anchorjs-link " href="#download-bower" aria-label="Anchor link for: download bower" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Install with Bower</h2>
                        <p>You can also install and manage Bootstrap's Less, CSS, JavaScript, and fonts using <a href="http://bower.io">Bower</a>:</p>
                        <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>bower install bootstrap</code></pre></div>
            </div>

            <div class="bs-callout bs-callout-info" id="migration">
                <h4>Migrating from v2.x to v3.x</h4>
                <p>Looking to migrate from an older version of Bootstrap to v3.x? Check out <a href="../migration">our migration guide</a>.</p>
            </div>
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <ul class="nav bs-docs-sidenav">
                    <li class="">
                        <a href="#database">Database</a>
                    </li>
                    <li class="">
                        <a href="#whats-included">Workflow</a>
                    </li>
                    <li class="">
                        <a href="#whats-included">Code</a>
                    </li>


                    <li class="">
                        <a href="#whats-included">What's included</a>
                        <ul class="nav">
                            <li class=""><a href="#whats-included-precompiled">Precompiled</a></li>
                            <li class=""><a href="#whats-included-source">Source code</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#examples">Examples</a>
                        <ul class="nav">
                            <li class=""><a href="#examples-framework">Using the framework</a></li>
                            <li class=""><a href="#examples-navbars">Navbars in action</a></li>
                            <li><a href="#examples-custom">Custom components</a></li>
                            <li><a href="#examples-experiments">Experiments</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="back-to-top" href="#top">
                    Back to top
                </a>

            </nav>
        </div>
    </div>
</div>
